*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  background: white;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
  width: 90%;
  padding: 8px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}
button:hover {
  background-color: #218838;
}
.logo_inline{
  display: flex;
  flex-direction: row;
}
.logo_text{
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  color: #270b9d;
  padding: 0 10px 0px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0px;
  text-transform: uppercase;
}
header{
  display: flex;
  flex-direction: column;
  margin-top: -75px;
}
.college_info{
text-align: center;
}
.college{
  margin-top: -10px;
  text-align: center;
  padding: 0 10px 0px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 18px;
}
@media(max-width:768px){
  .logo_text{
    font-size: 10px;
    font-weight: 500;
  }
  .college{
    font-size: 8px;
    padding-left: 0px;
  }

}
img{
  height: 130px;
}